.*
!.gitignore
!.babelrc
!.dockerignore
!.crossbar
!.env
!.env.production
npm-debug.log
**/node_modules
docker-image-archives
logs
www
pusher-releases
dist
dist_*
/crossbar/crossbar-node/config.json
!.gitattributes
misc/db-backup
misc/data
data-backups
_common/
mongoDbTests.js
