.*
!.gitignore
!.babelrc
!.dockerignore
!.crossbar
!.env
!.env.production
npm-debug.log
**/node_modules
docker-image-archives
logs
www
certs
dist*
dist*/*
/crossbar/crossbar-node/config.json
!.gitattributes
